.upper-nav {
	position: fixed;
	top: 0;
	width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #6c5ecf;
	color: #fff;
	padding-left: 32px;
	padding-right: 32px;
}
.upper-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6c5ecf;
}

.upper-nav li {
	float: left;
}

.upper-nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.upper-nav li a:hover:not(.active) {
	background-color: #111;
}

.sidenav {
	margin-top: 52px;
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #181720;
	overflow-x: hidden;
	padding-top: 20px;
	/* border-right: 2px solid #818181; */
}

.sidenav .link {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav .link:hover {
	color: #f1f1f1;
}
.isActive {
	color: white !important;
	background-color: #6c5ecf;
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav .link {
		font-size: 18px;
	}
}
