/* Snip Card Section */
.snip-card {
	background-color: #fff;
	border-radius: 0.35rem !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.badge {
	font-weight: 550;
	cursor: pointer;
}
.card-img {
	/* border-radius: 6px; */
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	-webkit-user-drag: none;
	user-select: none;
}
.card-img:hover {
	cursor: pointer;
	opacity: 0.5;
}
.snip-card-cap {
	font-size: 0.875em;
	font-weight: 500 !important;
	color: #212832 !important;
}
