body {
	background-color: #1f1d2b;
}
.text-purple {
	color: #6c5ecf;
}
.text-blue {
	color: #00d8ff;
}
.m-custom {
	margin-top: 5rem;
}
.header {
	margin-right: auto !important;
	margin-left: auto !important;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: #f8ab97;
	border-radius: 10px;
	height: 100px;
	width: auto;
	background-color: #ffe7c5;
}
.header-text {
	font-size: calc(5px + 3vw);
}
