body {
	background-color: #1f1d2b;
	height: 100%;
}
.main {
	margin-top: 5rem;
	margin-left: 200px; /* Same as the width of the sidenav */
	height: 100%;
	background-color: #1f1d2b;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url('https://desktop.github.com/images/star-bg.svg');
	background-repeat: repeat-x;
	background-position: center 0, 0 0, 0 0;
}
